<etwin-main-layout>
  @if (user$ | async; as user) {
    @if (user === RESOLUTION_ERROR) {
      <h1>Authentication error</h1>
      <p>Failed to load the settings page: make sure you are authenticated.</p>
    } @else {
      <h1>Settings</h1>
      <hr/>
      <h2>Profile</h2>
      <form
        method="POST"
        enctype="application/x-www-form-urlencoded"
        action="/actions/update-user-display-name"
        [formGroup]="displayNameForm"
        (ngSubmit)="onSubmitDisplayName($event)"
      >
        <input type="hidden" name="user_id" formControlName="userId" required="required" [value]="user.id"/>
        <label>
          <span i18n="New display name field label@@settings.displayName.label">New display name</span>
          <div class="info" i18n="@@settings.displayName.info">You can change your display name once every 30 days.
            You can use any letter, spaces and parenthesis. Your current name is: {{user.displayName.current.value}}.
          </div>
          <input type="text" name="display_name" class="field" formControlName="displayName" required="required"
                 [minlength]="$UserDisplayName.minLength" [maxlength]="$UserDisplayName.maxLength"
                 [pattern]="$UserDisplayName.pattern"/>
          <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="error">
            <div *ngIf="displayName.errors?.minlength" i18n="@@settings.displayName.minLength">
              The display name must be at least {{$UserDisplayName.minLength}} characters long.
            </div>
            <div *ngIf="displayName.errors?.maxlength" i18n="@@settings.displayName.maxLength">
              The display name must be at most {{$UserDisplayName.maxLength}} characters long.
            </div>
            <div *ngIf="displayName.errors?.pattern && !displayName.errors?.minlength"
                 i18n="@@settings.displayName.pattern">
              The display name can only use letters, spaces or parenthesis.
            </div>
          </div>
        </label>
        <input type="submit" class="btn primary" name="update_user_display_name"
               [disabled]="displayNameForm.invalid || displayNameSubscription !== null"
               i18n-value="@@settings.displayName.submit" value="Update my display name"/>
        <div *ngIf="displayNameServerError" class="error" i18n="@@settings.displayName.unknownError">
          Update error: the display name is invalid or was changed too recently.
        </div>
      </form>
      <hr/>
      <h2>Authentication</h2>

      <form
        method="POST"
        enctype="application/x-www-form-urlencoded"
        action="/actions/update-username"
        [formGroup]="usernameForm"
        (ngSubmit)="onSubmitUsername($event)"
      >
        <input type="hidden" name="user_id" formControlName="userId" required="required" [value]="user.id"/>
        <label>
          <span i18n="New username field label@@settings.username.label">New username</span>
          <div *ngIf="user.username as username" class="info" i18n="@@settings.username.info">You can change your username once every 10 days. You can only use the letters a-z and digits. Your current username is: {{username}}.</div>
          <div *ngIf="!user.username as username" class="info" i18n="@@settings.username.nousername">You do not have any username currently. You can only use the letters a-z and digits.</div>
          <input type="text" name="username" [ngClass]="{'field': true, 'empty': !user.username}" formControlName="username" required="required"
                 [minlength]="$RawUsername.minLength" [maxlength]="$RawUsername.maxLength"
                 [pattern]="$RawUsername.pattern"/>
          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error">
            <div *ngIf="username.errors?.minlength" i18n="@@settings.username.minLength">
              The username must be at least {{$RawUsername.minLength}} characters long.
            </div>
            <div *ngIf="username.errors?.maxlength" i18n="@@settings.username.maxLength">
              The username must be at most {{$RawUsername.maxLength}} characters long.
            </div>
            <div *ngIf="username.errors?.pattern && !username.errors?.minlength" i18n="@@settings.username.pattern">
              The username can only use the lowercase english letters "a-z" and digits "0-9" (it must start with a
              letter).
            </div>
          </div>
        </label>
        <input type="submit" class="btn primary" name="update_username" [disabled]="usernameForm.invalid || usernameSubscription !== null" i18n-value="@@settings.username.submit" value="Update my username"/>
        <div *ngIf="usernameServerError" class="error" i18n="@@settings.username.unknownError">
          Update error: the username is invalid, was changed too recently or is already used.
        </div>
      </form>

      <form
        method="POST"
        enctype="application/x-www-form-urlencoded"
        action="/actions/update-password"
        [formGroup]="passwordForm"
        (ngSubmit)="onSubmitPassword($event)"
      >
        <input type="hidden" name="user_id" formControlName="userId" required="required" [value]="user.id"/>
        <label>
          <span i18n="New password field label@@settings.password.label">New password</span>
          <input type="password" name="password" [ngClass]="{'field': true, 'empty': !user.hasPassword}" formControlName="password" required="required"
                 [minlength]="PASSWORD_LEN"/>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors?.required" i18n="@@register.passwordRequired">
              The password is required.
            </div>
            <div *ngIf="password.errors?.minlength" i18n="@@register.passwordMinLength">
              The password must be at least {{PASSWORD_LEN}} characters long.
            </div>
          </div>
        </label>
        <label>
          <span i18n="Password confirmation field label@@settings.passwordConfirmation.label">New password confirmation</span>
          <input type="password" name="password2" [ngClass]="{'field': true, 'empty': !user.hasPassword}" formControlName="password2" required="required" />
          <div *ngIf="(password2.invalid || passwordForm.errors?.passwordConfirmationMatch) && (password2.dirty || password2.touched)" class="error">
            <div *ngIf="password2.errors?.required" i18n="@@settings.passwordConfirmation.required">
              The password confirmation is required.
            </div>
            <div *ngIf="passwordForm.errors?.passwordConfirmationMatch" i18n="@@settings.passwordConfirmation.match">
              The password confirmation does not match the password.
            </div>
          </div>
        </label>

        <input type="submit" class="btn primary" name="update_password" [disabled]="passwordForm.invalid || passwordSubscription !== null" i18n-value="@@settings.password.submit" value="Update my password"/>
        <div *ngIf="passwordServerError" class="error" i18n="@@settings.password.unknownError">
          Update error: the password is invalid or was changed too recently (10 minutes).
        </div>
      </form>
      <hr/>
      <etwin-linked-users-settings [userId]="user.id" [links]="user.links"></etwin-linked-users-settings>
      <hr/>
      <h2>Delete user account</h2>
      <details>
        <summary>Toggle user deletion button</summary>
        <p>Warning: User account deletion is immediate and definitive.</p>
        <etwin-delete-user-button [userId]="user.id"></etwin-delete-user-button>
      </details>
      <ng-container *ngIf="user.isAdministrator">
        <hr/>
        <h2>Admin</h2>
        <etwin-create-job></etwin-create-job>
      </ng-container>

    }
  }
</etwin-main-layout>
