<div class="post-meta">
	<div class="avatar">
		<img src="assets/avatar.jpg">
	</div>
	<div class="post-banner">
	  <div class="author">
	    <etwin-forum-actor [actor]="post.author"></etwin-forum-actor>
	    <!-- <ng-container *ngIf="canEdit">
	      | <a [routerLink]="['', 'forum', 'posts', post.id, 'edit']" i18n="Link to the post edition page@@forum.post.editLink">Edit</a>
	    </ng-container> -->
	  </div>
	  <!-- USER TITLE <p class="title"><img src="assets/title_icon_placeholder.png"> We're working on it, we swear !</p> -->
	  <div class="time" [title]="post.ctime.toISOString()">
	    {{post.ctime | date : "short"}}
	  </div>
	</div>
	<div class="clear"></div>
</div>
<div class="deleted" *ngIf="post.revisions.last.moderation === null && post.revisions.last.content === null" i18n="Message replacing the content of a deleted post@@forum.post.deleted">Deleted post</div>
<div class="moderation" *ngIf="post.revisions.last.moderation !== null" [innerHTML]="post.revisions.last.moderation.html"></div>
<div class="body" *ngIf="post.revisions.last.content !== null" [innerHTML]="post.revisions.last.content.html"></div>
<aside class="actionBox">
	<ng-container *ngIf="canEdit">
		<a [routerLink]="['', 'forum', 'posts', post.id, 'edit']" class="btn secondary" i18n="Link to the post edition page@@forum.post.editLink">Edit</a>
	</ng-container>
	<ng-container *ngIf="canEdit">
		<a class="btn aggressive">Delete</a>
	</ng-container>
</aside>
