<etwin-main-layout>
  <h1 i18n="Title of the support page@@support.title">Support</h1>

  <p i18n="Support intro@@support.intro">Eternaltwin support is available either through Discord or by email.</p>
  <ul>
    <li i18n="Discord support@@support.discord"><a href="https://discord.gg/ERc3svy" alt="Eternaltwin Discord">Discord server</a>, use the <strong>#ticket-help</strong> channel</li>
    <li i18n="Email support@@support.email">Contact us at <a href="mailto:support@eternaltwin.org" alt="Eternaltwin support email">support&#x40;eternaltwin.org</a></li>
  </ul>
</etwin-main-layout>
